body {
    background-color: seashell;
}

#loginbutton{
    margin-left: 90%;
    margin-top: 3%;
}

#mainaddbutton{
    margin-top: 10%;
    margin-left: 40%;
}

#filebutton{
    margin-top: 5%;
    margin-left: 33%;
}