#hello-p{
    text-align: center;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 5px red;
    font-size: large;
    font-size: 200%;
}
p{
    text-align: center;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
}

#Form{
    width: 100%;
    text-align: center;

}

body{
    background-color: #eeeee4;
    width: 99%;
}

input{
    width: 30%;
    padding: 7px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 6px;
    
}

#rregjistro-button {
    background-color: red;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  #dega,#orari,#roli{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      height: 20%;
    }

  #emri{
      display: inline-flex;
    
     
  }

  #datvendlindje{
      display: inline-flex;
      
  }

  #mbiemri-txt{
      margin-left: 2%;
     
  }
  #emri-txt{
      margin-right: 2%;
    
  }
  

  #atesia-txt,#vendbanim-txt,#datelindja-txt{
      margin-right: 2%;
      margin-left: 2%;
  }

  #txtHint{
      text-align: center;
      margin-left: 20%;
  }

  table, td,th {
    border-collapse: collapse;
    border: 3px solid red;
  }

  table{
      width: 80%;
  }

  th{
      text-align: center;
      text-transform: uppercase;
  }
  td{
text-align: center;
  }

  #top-page{
      margin-top: 1%;
  }